<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title><%= titulo %></title>
    <link rel="stylesheet" href="/style.css"> 
</head>
<body>
    <div class="container"></div>
    <h1><%= titulo %> - FASE 1</h1>
    </div>
    <h2>Consultas (GET):</h2>
    <ul>
        <li><a href="/peliculas">1. Catálogo de Películas (GET /peliculas)</a></li>
        <li><a href="/sesiones/recientes">2. Próximas 5 Sesiones (GET /sesiones/recientes)</a></li>
    </ul>
    <h2>Creación (POST):</h2>
    <a href="/peliculas/nueva">Ver Formulario de Ingreso</a></p>
    

</body>
</html>